@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
  --mainBlack:#000000;
  --mainWhite:#ffff;
  --mainOrange:#F66E44;
  
}
/* Frontpage Style */

body{
  font-family: 'Montserrat', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  padding-top: 65px;
}


nav, a{
  /* font-family: 'Graphik', sans-serif; */
  background-color: var(--mainGreen);
  color: var(--mainBlack);
}

a:hover{
  color: var(--mainBrown);
}

.index-header{
  min-height: 100vh;
  /* background-image: linear-gradient(rgba(21, 45, 30, 0.4), rgba(21, 45, 30, 0.4)), url("../img/pix2.png"); */
  background-color: var(--mainWhite); 
  color: var(--mainblack);
}

.h-info{
  background:#E9E9E9;
  min-height: 70vh;
  padding: 0;
  clip-path: polygon(47% 0, 100% 0%, 100% 99%, 6% 99%);
}

.sub-info{
  max-height: 100vh;
  padding-left: 50px
}

.sub-info h1 {
  font-family: 'Monserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
}

.sub-info p {
  font-family: 'Monserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}


.about-me{
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}

.about-me button {
  border-radius: 0;
  background-color: var(--mainOrange);
  color: var(--mainWhite);
  border-color: var(--mainOrange);
  width: 10rem;
  height: 3.5rem;
}

span.p{
  border-top: 3px solid var(--mainOrange);
}

h5.card-text{
  color: var(--mainOrange);
}

.card{
  border: 0
}

span.c-t{
  border-bottom: 2px solid rgb(250, 248, 248);
  padding: 0;
}

.card:hover{
  cursor: pointer;
  border: 1px solid
}

.card button {
  border-radius: 0;
  background-color: #ffff;
  color: var(--mainWhite);
  border-color: #ffff;
  width: 10rem;
  height: 3.5rem;
}

.card:hover button {
  border-radius: 0;
  background-color: var(--mainOrange);
  color: var(--mainWhite);
  border-color: var(--mainOrange);
  width: 10rem;
  height: 3.5rem;
}

/* Gallery  */

.flex-column {
  max-width: 260px;
}

.gallery img {
  margin: 5px;
}

/* .scale {
  transform: scaleY(1.05);
  padding-top: 5px; 
} */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--mainWhite);
}

img.gallery-img {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}

/* Footer */

.footer{
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}

.footer button {
  border-radius: 0;
  background-color: var(--mainOrange);
  border-color: var(--mainOrange);
}

.footer .form-control {
  background-color: var(--mainBlack);
  background-clip: padding-box;
  border: 1px solid var(--mainOrange);
  border-radius: 0;
}

.footer .mr-sm-2 {
  margin-right: 0!important;
}

span.f-l{
  border-top: 3px solid var(--mainOrange);
}


/* Media query */

@media only screen and (max-width: 900px){
  nav img{
    width: 120px;
  }

  .index-header{
    margin-top: -4rem;
  }

  .s-i {
    position: absolute;
    padding-top: 10rem;
    z-index: 1;
  }

.icons{
  padding-top: 10rem;
  min-height: 100vh;
}
}